.SidePanel {
  position: fixed;
  right: 0px;
  top: 70px;
  height: 100%;
  width: 0;
  background-color: #222;
  -webkit-transition: width 0.2s; /* Safari */
  transition: width 0.2s;
  opacity: 0.9;
  text-align: left;
}

.TopCrops {
  padding: 0 35px;
  line-height: 2.8;
}

.PredictedList {
  position: fixed;
  top: 120px;
  width: 100%;
}

.ActualList {
  position: fixed;
  top: 460px;
  width: 100%;
}

.Unknown {
  font-size: 1.5em;
  position: relative;
  top: 50px;
}

.CloseButton {
  position: absolute;
  top: 15px;
  cursor: pointer;
  content: '';
  height: 25px;
}

.Greater {
  color: #3DA35D;
  background-image: url('../../../img/upArrow.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 175px;
  background-position-y: 15px;
}

.Lesser {
  color: #D62246;
  background-image: url('../../../img/downArrow.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 175px;
  background-position-y: 15px;
}

h1 {
  margin: 0;
}
